In [1]:
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import os
import glob

## Read in CSVs containing yelp query results:

In [1]:
path = #' local destination of yelp query datasets '
extension = 'csv'
os.chdir(path)
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
print('Number of listings contained in queries:', combined_csv.shape[0])

SyntaxError: invalid syntax (<ipython-input-1-110dc53d4423>, line 1)

In [96]:
# remove yelp index column
all_yelp = combined_csv.drop(columns=['Unnamed: 0'])
# drop duplicates
all_yelp.drop_duplicates(subset='id', inplace=True)
# print df shape, columns
print('Total number venues queried:', all_yelp.shape[0])
print('Information from query:\n', all_yelp.columns)

Total number venues queried: 4369
Information from query:
 Index(['alias', 'categories', 'coordinates', 'display_phone', 'distance',
       'hours', 'id', 'image_url', 'is_closed', 'location', 'name', 'phone',
       'price', 'rating', 'rev1', 'rev2', 'rev3', 'review_count',
       'transactions', 'url'],
      dtype='object')

In [97]:
# dataframe containing only information desired
yelp = all_yelp[['id', 'name', 'categories', 'rating', 'price', 'hours', 'coordinates', 'location', 'review_count', 'rev1', 'rev2', 'rev3', 'url']].copy()
yelp.reset_index(drop=True, inplace=True)

In [98]:
# zip code column
yelp['zipcode'] = (yelp.location.str.extract(r'zip_code\': \'(\d+)'))

# address column
yelp['fullAddress'] = yelp.location.str.extract('display_address\': \[([^/]*\')')
yelp['fullAddress'] = yelp['fullAddress'].str.replace("\'","")

# lat, long columns
yelp['latitude'] = yelp.coordinates.str.extract('latitude\': ([^/]*,)')
yelp['latitude'] = (yelp['latitude'].str.replace(',',''))
yelp['longitude'] = yelp.coordinates.str.extract('longitude\': ([^/]*})')
yelp['longitude'] = (yelp['longitude'].str.replace('}',''))

# all review text to single column
yelp['all_reviews'] = yelp.rev1 + " " + yelp.rev2 + " " + yelp.rev3

## Extracting all Yelp reviews per zipcode:

In [99]:
# dataframe: text from all yelp reviews for each zipcode
# exported as CSV for text analysis
zip_reviews_df = yelp[['zipcode','all_reviews']]
zip_reviews_df.to_csv()

## Categories unpacking:

In [100]:
#create categories index
os.chdir('/Users/andrewnorris/capstone_legaloccupancy/cleaningYelpData')
cat = pd.read_json('categories.json')

cat['aliasTitle'] = '{' + cat['alias'] + ', ' + cat['title']+ '}'
catIndex = pd.Index(list(cat['aliasTitle']))

In [101]:
# get number of categories
yelp['numCats'] = yelp.categories.str.count('}, {') + 1

# data cleaning
yelp['catIndexes'] = yelp['categories'].str.replace('\'', '')
yelp['catIndexes'] = yelp['catIndexes'].str.replace('[', '')
yelp['catIndexes'] = yelp['catIndexes'].str.replace(']', '')
yelp['catIndexes'] = yelp['catIndexes'].str.replace('alias: ', '')
yelp['catIndexes'] = yelp['catIndexes'].str.replace('title: ', '')

#match categories with dictionary index
for x in yelp['catIndexes']:
    for y in catIndex: 
        if y in x:
            yelp['catIndexes'] = yelp['catIndexes'].str.replace(y, str(catIndex.get_loc(y)))

#yelp.head(10)

In [102]:
# manual replacements for newamerican, tradamerican categories

yelp['newIndex'] = ""

for i in range(len(yelp['catIndexes'])):
    idxlist = list(yelp['catIndexes'][i].split(","))
    try:
        idxlist.remove(' {tradamerican')
        idxlist.append('1432') 
    except:
        pass
    try:
        idxlist.remove('{tradamerican')
        idxlist.append('1432') 
    except:
        pass
    try:
        idxlist.remove(' American (Traditional)}')
    except:
        pass
    try:
        idxlist.remove('American (Traditional)}')
    except:
        pass
    try:
        idxlist.remove(' {newamerican')
        idxlist.append('937')
    except:
        pass
    try:
        idxlist.remove('{newamerican')
        idxlist.append('937')
    except:
        pass
    try:
        idxlist.remove(' American (New)}')
    except:
        pass
    try:
        idxlist.remove('American (New)}')
    except:
        pass
    yelp['newIndex'][i] = idxlist

#yelp.head()

/Users/andrewnorris/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [103]:
# column formatting
yelp['newIndex'] = [','.join(map(str, l)) for l in yelp['newIndex']]

In [104]:
# expanding list of cat indexes to separate cols
yelp = pd.concat([yelp, yelp['newIndex'].str.split(',', expand=True)], axis=1)
#yelp.tail(2)

In [105]:
# rename cols
yelp = yelp.rename(columns={0: "cat0", 1: "cat1", 2: "cat2"}, errors="raise")
#yelp.head()

In [106]:
# data cleaning

# value formatting
yelp.replace(to_replace=[None], value=np.nan, inplace=True)
yelp['cat0'].astype("Float32").astype("Int32")
yelp['cat1'].astype("Float32").astype("Int32")
yelp['cat2'].astype("Float32").astype("Int32")
# # category placeholder
yelp['cat0'] = yelp['cat0'].fillna("420420")
yelp['cat1'] = yelp['cat1'].fillna("420420")
yelp['cat2'] = yelp['cat2'].fillna("420420")
# value formatting
yelp['cat0'] = yelp['cat0'].str.strip()
yelp['cat1'] = yelp['cat1'].str.strip()
yelp['cat2'] = yelp['cat2'].str.strip()

In [107]:
# value formatting
yelp['cat0'] = yelp.cat0.astype(int)

In [108]:
# read in categories metdata
cats = pd.read_csv('/Users/andrewnorris/capstone_legaloccupancy/datasets/categories.csv')
cats.head()

,Unnamed: 0,alias,country_blacklist,country_whitelist,parents,title,aliasTitle
0,0,3dprinting,NaN,NaN,['localservices'],3D Printing,"{3dprinting, 3D Printing}"
1,1,abruzzese,NaN,['IT'],['italian'],Abruzzese,"{abruzzese, Abruzzese}"
2,2,absinthebars,NaN,['CZ'],['bars'],Absinthe Bars,"{absinthebars, Absinthe Bars}"
3,3,acaibowls,"['CL', 'IT', 'MX', 'TR', 'AR', 'PL']",NaN,['food'],Acai Bowls,"{acaibowls, Acai Bowls}"
4,4,accessories,NaN,NaN,['fashion'],Accessories,"{accessories, Accessories}"

In [109]:
# create dictionary of categories 
cat_dict = dict(zip(cats.index, cats['parents']))
# add entry for placeholder
cat_dict[420420] = 'No Category'

In [177]:
# map main yelp category (cat0) values to titles
yelp['main_category'] = yelp['cat0']
yelp = yelp.replace({'main_category': cat_dict})

In [178]:
#yelp.tail()

In [179]:
# clean vals
yelp['main_category'] = (yelp['main_category'].str.replace('[',''))
yelp['main_category'] = (yelp['main_category'].str.replace(']',''))
yelp['main_category'] = (yelp['main_category'].str.replace('\'',''))

In [180]:
yelp['main_category'].unique()

array(['bars', 'eventservices', 'nightlife', 'food', 'active',
       'restaurants', 'nightlife, arts', 'arts', 'shopping',
       'localservices', 'caribbean', 'media', 'gourmet', 'fitness',
       'hotelstravel', 'mexican', 'japanese',
       'hotelstravel, eventservices', 'massmedia', 'specialtyschools',
       'mideastern', 'beautysvc', 'education', 'latin', 'shopping, arts',
       'african', 'chinese', 'tours', 'realestate'], dtype=object)

In [181]:
# remove venues missing category info
yelp = yelp[yelp['main_category']!='']

## Category variety within each neighborhood:

In [222]:
yelp['zipcode'] = yelp['zipcode'].fillna("0")
yelp['zipcode'] = yelp['zipcode'].astype(int)

In [223]:
# map zipcode to neighborhood

#dictionary to map zips to neighborhoods
zip_dict ={ 11101:'Astoria/LIC', 11102:'Astoria/LIC', 11103:'Astoria/LIC', 11105:'Astoria/LIC', 11106:'Astoria/LIC', 11104:'LIC',
           11109:'LIC', 11120:'LIC', 11206:'Williamsburg/Bushwick/Bed-Stuy', 11211:'Williamsburg', 11249:'Williamsburg', 11207:'Bushwick',
           11221:'Bed-Stuy/Bushwick', 11237:'Bushwick', 10026:'Harlem', 10027:'Harlem', 10037:'Harlem', 10030:'Harlem', 10039:'Harlem',
           10001:'Chelsea', 10011:'Chelsea', 10018:'Chelsea', 10019:'Chelsea', 10020:'Chelsea', 10036:'Chelsea', 10002:'LES',
           10034: 'Inwood', 10040: 'Inwood', 10454: 'South Bronx', 10455: 'South Bronx', 10459: 'South Bronx', 10474: 'South Bronx', 
           11205: 'Bed-Stuy', 11216: 'Bed-Stuy', 11233: 'Bed-Stuy', 11238: 'Bed-Stuy',
           11385: 'Ridgewood', 11386: 'Ridgewood', 10109: 'Times Square', 
           11373: 'Elmhurst', 11379: 'Elmhurst', 11372: 'Jackson Heights', 
           11354: 'Flushing', 11355: 'Flushing', 11358: 'Flushing', 11222: 'Greenpoint'}

In [224]:
pd.set_option('display.max_columns', 500)
# map zip to neighborhood
yelp['neighborhood'] = yelp['zipcode']
yelp = yelp.replace({'neighborhood': zip_dict})

In [225]:
yelpCat = pd.crosstab(yelp.neighborhood, yelp.main_category)
# fill na's with 0
yelpCat = yelpCat.fillna(0)
# cast data type as int
yelpCat = yelpCat.astype(int)
# reset index 
yelpCat = yelpCat.reset_index()
# save df neighborhood index
neighborhood_index = yelpCat.neighborhood
# remove neighborhood col
yelpCat = yelpCat.drop(['neighborhood'],axis=1)
yelpCat.head()

main_category,active,african,arts,bars,beautysvc,caribbean,chinese,education,eventservices,fitness,food,gourmet,hotelstravel,"hotelstravel, eventservices",japanese,latin,localservices,massmedia,media,mexican,mideastern,nightlife,"nightlife, arts",realestate,restaurants,shopping,"shopping, arts",specialtyschools,tours
0,0,0,3,3,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,8,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,6,0,0,0,0
4,0,0,0,4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0

In [226]:
yelpCat.shape

(144, 29)

In [237]:
#new column for total num businesses/neighborhood
yelpCat['Total'] = yelpCat.sum(axis=1)

In [228]:
#calculate percent of total accounted for by category
for x in range(len(yelpCat)):
    for y in range(30):
        yelpCat.iloc[x,y] = (yelpCat.iloc[x,y]/yelpCat.iloc[x,29]*100).round(2)

In [229]:
yelpCat.head()

main_category,active,african,arts,bars,beautysvc,caribbean,chinese,education,eventservices,fitness,food,gourmet,hotelstravel,"hotelstravel, eventservices",japanese,latin,localservices,massmedia,media,mexican,mideastern,nightlife,"nightlife, arts",realestate,restaurants,shopping,"shopping, arts",specialtyschools,tours,Total
0,0.0,0.0,20.00,20.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,6.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.33,0.0,0.0,0.00,0.0,0.0,0.0,0.0,100.0
1,0.0,0.0,0.00,33.33,0.0,0.0,0.0,0.0,33.33,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,33.33,0.0,0.0,0.0,0.0,100.0
2,0.0,0.0,0.00,75.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,100.0
3,0.0,0.0,9.09,27.27,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.09,0.0,0.0,54.55,0.0,0.0,0.0,0.0,100.0
4,0.0,0.0,0.00,57.14,0.0,0.0,0.0,0.0,0.00,0.0,14.29,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.57,0.0,0.0,0.00,0.0,0.0,0.0,0.0,100.0

In [230]:
#new table for categories
yelp_counts = yelp.groupby(['main_category']).size().reset_index(name='counts')

In [231]:
#count of businesses
total = yelp_counts['counts'].sum()

In [232]:
#calculate percent of total (percent distribution)
yelp_counts['nycPercentDist'] = (yelp_counts['counts']/total*100).round(2)
yelp_counts

                  main_category  counts  nycPercentDist
0                        active       6            0.14
1                       african       1            0.02
2                          arts      64            1.47
3                          bars    1779           40.95
4                     beautysvc       2            0.05
5                     caribbean       5            0.12
6                       chinese       2            0.05
7                     education       1            0.02
8                 eventservices      60            1.38
9                       fitness       4            0.09
10                         food      73            1.68
11                      gourmet       2            0.05
12                 hotelstravel       5            0.12
13  hotelstravel, eventservices       3            0.07
14                     japanese      10            0.23
15                        latin       8            0.18
16                localservices       4            0.09
17                    massmedia       2            0.05
18                        media       4            0.09
19                      mexican      12            0.28
20                   mideastern       1            0.02
21                    nightlife    1025           23.60
22              nightlife, arts     145            3.34
23                   realestate       1            0.02
24                  restaurants    1113           25.62
25                     shopping       8            0.18
26               shopping, arts       1            0.02
27             specialtyschools       2            0.05
28                        tours       1            0.02

Use the new column <b>yelp_counts['nycPercentDist']</b> as threshold for being counted into variety within a neighborhood.

In [240]:
yelpCat.columns

Index(['active', 'african', 'arts', 'bars', 'beautysvc', 'caribbean',
       'chinese', 'education', 'eventservices', 'fitness', 'food', 'gourmet',
       'hotelstravel', 'hotelstravel, eventservices', 'japanese', 'latin',
       'localservices', 'massmedia', 'media', 'mexican', 'mideastern',
       'nightlife', 'nightlife, arts', 'realestate', 'restaurants', 'shopping',
       'shopping, arts', 'specialtyschools', 'tours', 'Total'],
      dtype='object', name='main_category')

In [241]:
#new dataframe yelpCat_new, add new column for num of existing categories per neighborhood and for variety count

yelpCat_new = yelpCat.drop(['Total'],axis=1)
yelpCat_new['NumCategories'] = 0
yelpCat_new['VarietyCount'] = 0

In [242]:
print(yelpCat_new.shape)
print(yelp_counts.shape) #29 cats

(144, 31)
(29, 3)

In [243]:
yelpCat_new.head()

main_category,active,african,arts,bars,beautysvc,caribbean,chinese,education,eventservices,fitness,food,gourmet,hotelstravel,"hotelstravel, eventservices",japanese,latin,localservices,massmedia,media,mexican,mideastern,nightlife,"nightlife, arts",realestate,restaurants,shopping,"shopping, arts",specialtyschools,tours,NumCategories,VarietyCount
0,0.0,0.0,20.00,20.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,6.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.33,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0,0
1,0.0,0.0,0.00,33.33,0.0,0.0,0.0,0.0,33.33,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,33.33,0.0,0.0,0.0,0.0,0,0
2,0.0,0.0,0.00,75.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0,0
3,0.0,0.0,9.09,27.27,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.09,0.0,0.0,54.55,0.0,0.0,0.0,0.0,0,0
4,0.0,0.0,0.00,57.14,0.0,0.0,0.0,0.0,0.00,0.0,14.29,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.57,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0,0

In [244]:
#pos = count num of existing categories per neighborhood
#tally = count number of existing categories that have a percentage equal to or greater than the city distribution

for x in range(len(yelpCat_new)):
    pos = 0
    tally = 0
    for y in range(29):
        if yelpCat_new.iloc[x,y] > 0:
            pos += 1
        if ((yelpCat_new.iloc[x,y]) >= (yelp_counts.iloc[y, 2])):
            tally += 1
    yelpCat_new.iloc[x,29] = pos
    yelpCat_new.iloc[x,30] = tally

In [248]:
yelpCat_new.head()

main_category,active,african,arts,bars,beautysvc,caribbean,chinese,education,eventservices,fitness,food,gourmet,hotelstravel,"hotelstravel, eventservices",japanese,latin,localservices,massmedia,media,mexican,mideastern,nightlife,"nightlife, arts",realestate,restaurants,shopping,"shopping, arts",specialtyschools,tours,NumCategories,VarietyCount,neighborhood
0,0.0,0.0,20.00,20.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,6.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53.33,0.0,0.0,0.00,0.0,0.0,0.0,0.0,4,3,0
1,0.0,0.0,0.00,33.33,0.0,0.0,0.0,0.0,33.33,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,33.33,0.0,0.0,0.0,0.0,3,2,7010
2,0.0,0.0,0.00,75.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,2,2,7020
3,0.0,0.0,9.09,27.27,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.09,0.0,0.0,54.55,0.0,0.0,0.0,0.0,4,2,7024
4,0.0,0.0,0.00,57.14,0.0,0.0,0.0,0.0,0.00,0.0,14.29,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.57,0.0,0.0,0.00,0.0,0.0,0.0,0.0,3,3,7030

In [247]:
# add neighborhood index to df
yelpCat_new['neighborhood'] = neighborhood_index

In [249]:
# filter to only neighborhoods of focus
mome_neighborhoods = ['Astoria/LIC',
       'Bed-Stuy', 'Bed-Stuy/Bushwick', 'Bushwick', 'Chelsea', 'Elmhurst',
       'Flushing', 'Greenpoint', 'Harlem', 'Inwood', 'Jackson Heights',
       'LES', 'LIC', 'Ridgewood', 'South Bronx', 'Williamsburg',
       'Williamsburg/Bushwick/Bed-Stuy']
yelpCat_new = yelpCat_new[yelpCat_new['neighborhood'].isin(mome_neighborhoods)]
yelpCat_new

main_category,active,african,arts,bars,beautysvc,caribbean,chinese,education,eventservices,fitness,food,gourmet,hotelstravel,"hotelstravel, eventservices",japanese,latin,localservices,massmedia,media,mexican,mideastern,nightlife,"nightlife, arts",realestate,restaurants,shopping,"shopping, arts",specialtyschools,tours,NumCategories,VarietyCount,neighborhood
127,0.43,0.0,0.85,41.88,0.0,0.0,0.0,0.0,0.85,0.00,3.85,0.00,0.00,0.00,0.00,0.43,0.43,0.43,0.00,0.00,0.0,19.23,0.43,0.0,31.20,0.00,0.0,0.00,0.0,11,7,Astoria/LIC
128,0.00,0.0,0.00,35.85,0.0,0.0,0.0,0.0,1.89,0.63,3.14,0.00,0.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,30.82,3.77,0.0,23.27,0.00,0.0,0.00,0.0,8,6,Bed-Stuy
129,0.00,0.0,0.00,25.00,0.0,2.5,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,45.00,5.00,0.0,22.50,0.00,0.0,0.00,0.0,5,3,Bed-Stuy/Bushwick
130,0.00,0.0,1.32,30.26,0.0,0.0,0.0,0.0,2.63,0.00,2.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.32,1.32,0.0,35.53,3.95,0.0,21.05,0.00,0.0,0.00,0.0,9,6,Bushwick
131,0.29,0.0,2.28,43.65,0.0,0.0,0.0,0.0,1.43,0.14,0.43,0.29,0.29,0.14,0.29,0.00,0.00,0.00,0.00,0.29,0.0,21.83,4.28,0.0,24.25,0.00,0.0,0.14,0.0,15,12,Chelsea
132,0.00,0.0,0.00,47.62,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,19.05,4.76,0.0,28.57,0.00,0.0,0.00,0.0,4,3,Elmhurst
133,0.00,0.0,0.00,29.17,0.0,0.0,0.0,0.0,0.00,0.00,1.39,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,51.39,0.00,0.0,18.06,0.00,0.0,0.00,0.0,4,1,Flushing
134,1.32,0.0,2.63,38.16,0.0,0.0,0.0,0.0,1.32,0.00,2.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,25.00,5.26,0.0,23.68,0.00,0.0,0.00,0.0,8,5,Greenpoint
135,0.00,0.0,1.27,34.18,0.0,0.0,0.0,0.0,5.06,0.00,2.53,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.27,0.0,15.19,12.66,0.0,27.85,0.00,0.0,0.00,0.0,8,5,Harlem
136,0.00,0.0,0.00,35.71,0.0,0.0,0.0,0.0,2.38,0.00,2.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.38,0.0,30.95,0.00,0.0,26.19,0.00,0.0,0.00,0.0,6,5,Inwood
137,0.00,0.0,0.00,40.38,0.0,0.0,0.0,0.0,0.00,0.00,1.92,0.00,0.00,0.00,0.00,7.69,0.00,0.00,0.00,1.92,0.0,25.00,1.92,0.0,21.15,0.00,0.0,0.00,0.0,7,4,Jackson Heights
138,0.00,0.0,1.17,40.94,0.0,0.0,0.0,0.0,0.00,0.00,1.17,0.00,0.00,0.00,1.17,0.00,0.00,0.00,0.00,0.00,0.0,29.24,2.34,0.0,23.98,0.00,0.0,0.00,0.0,7,2,LES
139,0.00,0.0,0.00,56.52,0.0,0.0,0.0,0.0,0.00,0.00,4.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,17.39,0.00,0.0,21.74,0.00,0.0,0.00,0.0,4,2,LIC
140,0.00,0.0,0.00,30.19,0.0,0.0,0.0,0.0,0.00,0.00,5.66,0.00,0.00,1.89,0.00,0.00,0.00,0.00,0.00,0.00,0.0,33.96,3.77,0.0,24.53,0.00,0.0,0.00,0.0,6,4,Ridgewood
141,0.00,0.0,0.00,23.53,0.0,0.0,0.0,0.0,5.88,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.88,0.00,0.0,35.29,5.88,0.0,23.53,0.00,0.0,0.00,0.0,6,4,South Bronx
142,0.00,0.0,0.00,26.85,0.0,0.0,0.0,0.0,2.31,0.00,2.78,0.00,0.00,0.00,0.46,0.00,0.46,0.00,0.46,0.00,0.0,35.65,3.70,0.0,26.85,0.46,0.0,0.00,0.0,10,9,Williamsburg
143,0.00,0.0,2.00,30.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00,2.00,0.00,0.00,0.00,0.0,44.00,6.00,0.0,14.00,0.00,0.0,0.00,0.0,7,5,Williamsburg/Bushwick/Bed-Stuy

In [250]:
yelpCat_new['VarietyPerc'] = (yelpCat_new['VarietyCount']/yelpCat_new['NumCategories']*100).round(2)
yelpCat_new

main_category,active,african,arts,bars,beautysvc,caribbean,chinese,education,eventservices,fitness,food,gourmet,hotelstravel,"hotelstravel, eventservices",japanese,latin,localservices,massmedia,media,mexican,mideastern,nightlife,"nightlife, arts",realestate,restaurants,shopping,"shopping, arts",specialtyschools,tours,NumCategories,VarietyCount,neighborhood,VarietyPerc
127,0.43,0.0,0.85,41.88,0.0,0.0,0.0,0.0,0.85,0.00,3.85,0.00,0.00,0.00,0.00,0.43,0.43,0.43,0.00,0.00,0.0,19.23,0.43,0.0,31.20,0.00,0.0,0.00,0.0,11,7,Astoria/LIC,63.64
128,0.00,0.0,0.00,35.85,0.0,0.0,0.0,0.0,1.89,0.63,3.14,0.00,0.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,30.82,3.77,0.0,23.27,0.00,0.0,0.00,0.0,8,6,Bed-Stuy,75.00
129,0.00,0.0,0.00,25.00,0.0,2.5,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,45.00,5.00,0.0,22.50,0.00,0.0,0.00,0.0,5,3,Bed-Stuy/Bushwick,60.00
130,0.00,0.0,1.32,30.26,0.0,0.0,0.0,0.0,2.63,0.00,2.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.32,1.32,0.0,35.53,3.95,0.0,21.05,0.00,0.0,0.00,0.0,9,6,Bushwick,66.67
131,0.29,0.0,2.28,43.65,0.0,0.0,0.0,0.0,1.43,0.14,0.43,0.29,0.29,0.14,0.29,0.00,0.00,0.00,0.00,0.29,0.0,21.83,4.28,0.0,24.25,0.00,0.0,0.14,0.0,15,12,Chelsea,80.00
132,0.00,0.0,0.00,47.62,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,19.05,4.76,0.0,28.57,0.00,0.0,0.00,0.0,4,3,Elmhurst,75.00
133,0.00,0.0,0.00,29.17,0.0,0.0,0.0,0.0,0.00,0.00,1.39,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,51.39,0.00,0.0,18.06,0.00,0.0,0.00,0.0,4,1,Flushing,25.00
134,1.32,0.0,2.63,38.16,0.0,0.0,0.0,0.0,1.32,0.00,2.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,25.00,5.26,0.0,23.68,0.00,0.0,0.00,0.0,8,5,Greenpoint,62.50
135,0.00,0.0,1.27,34.18,0.0,0.0,0.0,0.0,5.06,0.00,2.53,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.27,0.0,15.19,12.66,0.0,27.85,0.00,0.0,0.00,0.0,8,5,Harlem,62.50
136,0.00,0.0,0.00,35.71,0.0,0.0,0.0,0.0,2.38,0.00,2.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.38,0.0,30.95,0.00,0.0,26.19,0.00,0.0,0.00,0.0,6,5,Inwood,83.33
137,0.00,0.0,0.00,40.38,0.0,0.0,0.0,0.0,0.00,0.00,1.92,0.00,0.00,0.00,0.00,7.69,0.00,0.00,0.00,1.92,0.0,25.00,1.92,0.0,21.15,0.00,0.0,0.00,0.0,7,4,Jackson Heights,57.14
138,0.00,0.0,1.17,40.94,0.0,0.0,0.0,0.0,0.00,0.00,1.17,0.00,0.00,0.00,1.17,0.00,0.00,0.00,0.00,0.00,0.0,29.24,2.34,0.0,23.98,0.00,0.0,0.00,0.0,7,2,LES,28.57
139,0.00,0.0,0.00,56.52,0.0,0.0,0.0,0.0,0.00,0.00,4.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,17.39,0.00,0.0,21.74,0.00,0.0,0.00,0.0,4,2,LIC,50.00
140,0.00,0.0,0.00,30.19,0.0,0.0,0.0,0.0,0.00,0.00,5.66,0.00,0.00,1.89,0.00,0.00,0.00,0.00,0.00,0.00,0.0,33.96,3.77,0.0,24.53,0.00,0.0,0.00,0.0,6,4,Ridgewood,66.67
141,0.00,0.0,0.00,23.53,0.0,0.0,0.0,0.0,5.88,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.88,0.00,0.0,35.29,5.88,0.0,23.53,0.00,0.0,0.00,0.0,6,4,South Bronx,66.67
142,0.00,0.0,0.00,26.85,0.0,0.0,0.0,0.0,2.31,0.00,2.78,0.00,0.00,0.00,0.46,0.00,0.46,0.00,0.46,0.00,0.0,35.65,3.70,0.0,26.85,0.46,0.0,0.00,0.0,10,9,Williamsburg,90.00
143,0.00,0.0,2.00,30.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00,2.00,0.00,0.00,0.00,0.0,44.00,6.00,0.0,14.00,0.00,0.0,0.00,0.0,7,5,Williamsburg/Bushwick/Bed-Stuy,71.43

In [251]:
yelpCat_new.to_csv('neighborhoodsVariety_yelp.csv')